{% extends "templates/basic.html" %}
{% import "templates/abstracts_helper.html" as abstracts %}
{% set active_page = "Abstracts" %}

{% block content %}
<!--  For now we just display the google form for abstract submission and
the conference poster -->

<div class="container clearfix mt-100 mb-20">
  {% include "templates/globalmessage.html" ignore missing %}

  <h2><span>Abstract submission form</span></h2>
      <div class="c12 row">
	<p>Please fill this <a
	href="https://docs.google.com/forms/d/e/1FAIpQLScd9um8xnXT1ww60ZVEi-OIma659Ga_Q-sAaPdmVbNg7UIgeQ/viewform">form</a>
      if you would like to submit an abstract for a plenary talk or a
	poster. Only one contribution per participant (either a
      plenary talk or a poster) can be submitted.</p>

	<p><strong>Deadline is 06 March 2020</strong>.</p>
      </div>

      </div>
      
{% endblock content %}
