{% extends "templates/basic.html" %}
{% import "templates/abstracts_helper.html" as abstracts %}
{% set active_page = "Abstracts" %}

{% block content %}
<!--  For now we just display the google form for abstract submission and
the conference poster -->

<div class="container clearfix mt-100 mb-20">
  {% include "templates/globalmessage.html" ignore missing %}

  <h2><span>Abstract submission form</span></h2>
      <div class="c12 row">
	<p>Abstract submission for plenary talks is now
      closed. However, it is still possible to submit an abstract for
      a <strong>poster</strong>, by filling this <a
	href="https://docs.google.com/forms/d/e/1FAIpQLScGAq9Dx17k0BpJD4GnyRLJJPDAcww8gSKzdQhxo36P6ohRGw/viewform">form</a>.
	Only one poster contribution per participant can be submitted. If you would like
	to submit an abstract for a <a href="splinters.html">splinter session</a>, please follow
      instructions on the splinter's website.</p>

	<p><strong>Deadline for submitting an abstract for a poster
      is 14 June 2020</strong>.</p>
      </div>

      </div>
      
{% endblock content %}
