{% extends "templates/basic.html" %}
{% set active_page = "Program" %}

{% block content %}

<div class="container clearfix mt-100 mb-20">
       {% include "templates/globalmessage.html" ignore missing %}

      
      <h2><span>Schedule</span></h2>
      <div class="c12 row">
	<p>The schedule may be subject to small adjustments. The program is described below.</p>
	<table class="schedule" border="2">
	  <tr class="title">
	    <td>Time</td>
	    <td>Sunday 21st</td>
	    <td>Monday 22nd</td>
	    <td>Tuesday 23rd</td>
	    <td>Wednesday 24th</td>
	    <td>Thursday 25th</td>
	    <td>Friday 26th</td>
	    <!--<td>Saturday</td>-->
	  </tr>
	  <tr class="title">
	    <td>Topic</td>
	    <td></td>
	    <td>THE SUN IN TIME AND STELLAR EVOLUTION</td>
	    <td>MEASUREMENTS AT HIGH PRECISION</td>
	    <td>MAGNETISM OF THE SUN AND COOL STARS</td>
	    <td>THE ENVIRONMENTS OF THE SUN AND COOL STARS</td>
	    <td>COOL MEMBERS OF CLUSTERS AND ASSOCIATIONS</td>
	    <!--<td></td>-->
	  </tr>
	  
	  <tr>
	    <td class="time">09:00-09:30</td>
	    <td></td>
	    <td class="plenary">Invited Talk 1: A. Lanzafame</td>
	    <td class="plenary">Invited Talk 3: J. Monnier</td>
	    <td class="plenary">Invited Talk 5: J-F. Donati</td>
	    <td class="plenary">Invited Talk 7: K. Korreck</td>
	    <td class="plenary">Invited Talk 9: N. Bastian</td>
	  </tr>
	  <tr>
	    <td class="time">09:30-09:45</td>
	    <td></td>
	    <td class="plenary">Contributed Talk 1</td>
	    <td class="plenary">CT9</td>
	    <td class="plenary">CT17</td>
	    <td class="plenary">CT25</td>
	    <td class="plenary">CT33</td>
	  </tr>
	  <tr>
	    <td class="time">09:45-10:00</td>
	    <td></td>
	    <td class="plenary">CT2</td>
	    <td class="plenary">CT10</td>
	    <td class="plenary">CT18</td>
	    <td class="plenary">CT26</td>
	    <td class="plenary">CT34</td>
	  </tr>
	  <tr>
	    <td class="time">10:00-10:15</td>
	    <td></td>
	    <td class="plenary">CT3</td>
	    <td class="plenary">CT11</td>
	    <td class="plenary">CT19</td>
	    <td class="plenary">CT27</td>
	    <td class="plenary">CT35</td>
	  </tr>
	  <tr>
	    <td class="time">10:15-10:30</td>
	    <td></td>
	    <td class="plenary">CT4</td>
	    <td class="plenary">CT12</td>
	    <td class="plenary">CT20</td>
	    <td class="plenary">CT28</td>
	    <td class="plenary">CT36</td>
	  </tr>
	  
	  <tr>
	    <td class="time">10:30-11:15</td>
	    <td></td>
	    <!--<td class="break">Coffee break + <a href="abstracts.html#posters">Posters</a></td>-->
	    <td class="break">Coffee break + Posters</td>
	    <td class="break">Coffee break + Posters</td>
	    <td class="break">Coffee break + Posters</td>
	    <td class="break">Coffee break + Posters</td>
	    <td class="break">Coffee break + Posters</td>
	  </tr>

	  <tr>
	    <td class="time">11:15-11:45</td>
	    <td></td>
	    <td class="plenary">Invited Talk 2: A. Palacios</td>
	    <td class="plenary">Invited Talk 4: M. Cunha</td>
	    <td class="plenary">Invited Talk 6: M. Kapyla</td>
	    <td class="plenary">Invited Talk 8: A. Strugarek</td>
	    <td class="plenary">Invited Talk 10: E. Zari</td>
	  </tr>
	  <tr>
	    <td class="time">11:45-12:00</td>
	    <td></td>
	    <td class="plenary">CT5</td>
	    <td class="plenary">CT13</td>
	    <td class="plenary">CT21</td>
	    <td class="plenary">CT29</td>
	    <td class="plenary">CT37</td>
	  </tr>
	  <tr>
	    <td class="time">12:00-12:15</td>
	    <td></td>
	    <td class="plenary">CT6</td>
	    <td class="plenary">CT14</td>
	    <td class="plenary">CT22</td>
	    <td class="plenary">CT30</td>
	    <td class="plenary">CT38</td>
	  </tr>
	  <tr>
	    <td class="time">12:15-12:30</td>
	    <td></td>
	    <td class="plenary">CT7</td>
	    <td class="plenary">CT15</td>
	    <td class="plenary">CT23</td>
	    <td class="plenary">CT31</td>
	    <td class="plenary">CT39</td>
	  </tr>
	  <tr>
	    <td class="time">12:30-12:45</td>
	    <td></td>
	    <td class="plenary">CT8</td>
	    <td class="plenary">CT16</td>
	    <td class="plenary">CT24</td>
	    <td class="plenary">CT32</td>
	    <td class="plenary">CT40</td>
	  </tr>
	  
	  <tr>
	    <td class="time">12:45-14:30</td>
	    <td></td>
	    <td class="break">Lunch break</td>
	    <td class="break">Lunch break</td>
	    <td class="break">Lunch break</td>
	    <td class="break">Lunch break</td>
	    <td>End of conference</td>
	  </tr>

	   <tr>
	    <td class="time">14:30-16:00</td>
	    <td></td>
	   <td class="splinter"><a href="splinters.html">Splinter
	    sessions 1, 2, 3</a></td>
	    <td class="splinter"><a href="splinters.html">Splinter
	    sessions 4, 5, 6</a></td>
	    <td class="socialac" rowspan="4">
	      <!-- <a href="excursions.html">Excursions (timing varies
	    by excursion)</a> -->
	      Social Events
	    </td>
	    <td class="splinter"><a href="splinters.html">Splinter
	      sessions 7, 8, 9</a></td>
	    <td class="socialac" rowspan="4">
	      <!-- <a href="excursions.html">Excursions (timing varies
	    by excursion)</a> -->
	      BBQ at Toulouse Observatory
	    </td>
	  </tr>
	  <tr>
	    <td class="time">16:00-16:30</td>
	    <td class="socialac" rowspan="3"> Pre-registration </td>
	    <td class="break">Coffee break + Posters</td>
	    <td class="break">Coffee break + Posters</td>
	    <td class="break">Coffee break + Posters</td>
	  </tr>
	  <tr>
	    <td class="time">16:30-18:00</td>
	    <td class="splinter"><a href="splinters.html">Splinter
	    sessions 1, 2, 3</a></td>
	    <td class="splinter"><a href="splinters.html">Splinter
	    sessions 4, 5, 6</a></td>
	    <td class="splinter"><a href="splinters.html">Splinter
	    sessions 7, 8, 9</a></td>
	  </tr>
	  <tr>
	    <td class="time">18:00-19:30</td>
	    <td class="break">Posters</td>
	    <td class="workshop">Invited
	    Lecture: Nobel Prize Prof. M. Mayor</td>
	    <td class="break">Posters</td>
	  </tr>
	  
	  <tr>
	    <td class="time"> from 19:30 </td>
	    <td></td>
	    <!-- <td class="socialac"><a
	    href="travel.html#banquet">Ice Breaker</a></td> -->
	    <td class="socialac">Ice Breaker</td>
	    <td></td>
	    <td></td>
	    <!--<td class="socialac"><a href="travel.html#banquet">Banquet</a></td>-->
	    <td class="socialac">Banquet</td>
	    <td></td>
	  </tr>
	</table>
      </div>
      &nbsp
     
      <!--
      <h2><span>Gender Survey</span></h2>
      <div class="c12 row">
	<p>At this point, we'd like to point 
	to <a href="http://astrogender.site">Jim Davenport's gender study
	website</a> that collects crowd-sourced information on the gender of
	speakers, chairs, and questioners. Information from previous Cool Stars
	meetings has been <a href="https://arxiv.org/abs/1704.05260">published</a> in the Cool stars 19 proceedings.
</p></div>
      //-->

      <!--
      <h2><span>Plan of conference venue</span></h2>
      The conference venue (George-Sherman-Union) has food court and other
      amenities (banks, ATMs) on the first floor (for non-US speakers: ground
      floor). We hold the conference on the second floor (non-US speakers: first
      floor) and a plan of the rooms on that floor is shown below.
      <div class="c12 row">
	<img src="images/GSU_floorplan-small.png" alt="" />
      </div>
      //-->

      <h2><span>Program</span></h2>
      <div class="c12 row">
	<p>Plenary talks will present many new insights and exciting results from both theory and observations using, for example, recent instruments and missions, such as Gaia, Parker Solar Probe, TESS, Solar Orbiter, SPIRou, ALMA...  The plenary sessions will cover the following five science themes. Proposers of splinter sessions should make sure that their topics <b>do not obviously overlap</b> with the morning themes.</p>

	<h3>1. THE SUN IN TIME AND STELLAR EVOLUTION</h3>
	<p>This session will focus on evolutionary processes taking place within stars and the Sun, including pre-main sequence,
main sequence, and post-main sequence stages. Our understanding of the topic comes from observations of stellar
atmospheres but also, increasingly, probes of stellar interiors and interior structure. The session will cover topics
such as the development of new solar and stellar evolutionary models, the empirical evolution of key stellar properties
(angular momentum, activity, abundances, etc.), and the past and future history of the Sun and cool stars.</p>

	<h3>2. MEASUREMENTS AT HIGH PRECISION (SPATIAL, SPECTRAL, TEMPORAL)</h3>
	<p>New observatories, high fidelity instrumentation and meticulous technique provide us with a spatial and spectral
resolution which are only possible today due to recent technological advances. We can now image stars and disks and
measure gas motions at walking speed. In this session, we discuss what these new data teach us about the stars, their
structure, their formation process and they influence their surroundings.</p>
	
	<h3>3. MAGNETISM OF THE SUN AND COOL STARS</h3>
	<p>This session will focus on magnetic fields in the Sun and cool stars of all evolutionary stages. The amplification and
large-scale organization of magnetic fields through dynamo processes lead to a variable magnetic activity that is now
studied both from numerical simulations and observations (spectroscopy, spectropolarimetry, photometry, X rays). The
impact of solar and stellar magnetism will be considered, with emphasis on dynamo mechanisms, transport processes,
angular momentum evolution, surface activity (spots, flares), and the extended atmosphere. The contribution of new
observations characterizing solar/stellar magnetism and activity will be discussed, as well as the latest modelling efforts.</p>
	
	<h3>4. THE ENVIRONMENTS OF THE SUN AND COOL STARS</h3>
	<p>Interactions of the Sun and stars with their surroundings occur through magnetic fields, radiation, tidal interactions
and plasma flows. Close stellar binaries interact strongly both gravitationally and through their winds, enabling
us to learn about tides and wind-wind interactions. Close-in planets are being used as probes for gathering information
on some fundamental properties of stars, such as winds speed and temperature, and exploring the realm of
star-planet gravitational and magnetic interaction. Our own solar system provides clues on how the Sun's activity
affects the heliosphere as a whole, as well as the planets within (such as space weather or climate), clues that can
further be extended to other systems having different orbital or dynamical configurations. Key for understanding
stellar environments is characterising how the interactions dier with global stellar properties such as mass, age, or
metallicity. How do stars interact with their environment and how can we best use this interaction for understanding
stars and their surroundings is central to this theme.</p>

	<h3>5. COOL MEMBERS OF CLUSTERS AND ASSOCIATIONS</h3>
	<p>It has become a cliche that the GAIA mission is revolutionizing stellar astrophysics, but no more so than in the
area of members of stellar associations and clusters. The session will focus on kinematic as well as the numerous
other diagnostics of cluster membership { from the young ages of star-forming regions to the oldest globular clusters.
Scientific puzzles include the wide dispersion seen in clusters of all ages in stellar parameters. Chief among these is the
mystery of multiple populations in globular clusters. Old MilkyWay massive star clusters similarly exhibit photometric
and spectroscopic sequences of red giants and unevolved main sequence
	stars that suggest a very complex chemodynamical history. Young clusters in the Magellanic clouds display signs
	that rotation and spindown substantially affect the appearance of the color-magnitude diagram. Star-forming regions exhibit luminosity spreads that exceed
estimated errors even when accretion history is taken into account.</p>
</div>

<h2><span>Invited speakers</span></h2>
<div class="c12 row">
<div class="c2 about ta-c">
  <img src="images/bastian.jpg" alt="" />
  <p class="name">N. Bastian</p>
  <p class="position">COOL MEMBERS OF CLUSTERS AND ASSOCIATIONS</p>
</div>
<div class="c2 about ta-c">
  <img src="images/cunha.jpg" alt="" />
  <p class="name">M. Cunha</p>
  <p class="position">MEASUREMENTS AT HIGH PRECISION</p>
</div>
<div class="c2 about ta-c">
  <img src="images/donati.jpg" alt="" />
  <p class="name">J-F. Donati</p>
  <p class="position">MAGNETISM OF THE SUN AND COOL STARS</p>
</div>
<div class="c2 about ta-c">
  <img src="images/kapylaa.tiff" alt="" />
  <p class="name">M. Kapyla</p>
  <p class="position">MAGNETISM OF THE SUN AND COOL STARS</p>
</div>
<div class="c2 about ta-c">
  <img src="images/Korreck.jpg" alt="" />
  <p class="name">K. Korreck</p>
  <p class="position">THE ENVIRONMENTS OF THE SUN AND COOL STARS</p>
</div>
</div>
<div class="clearfix"></div>
<div class="c12 row">
<div class="c2 about ta-c">
  <img src="images/lanzafame.jpg" style="transform:rotate(180deg);">
  <p class="name">A. Lanzafame</p>
  <p class="position">THE SUN IN TIME AND STELLAR EVOLUTION</p>
</div>
<div class="c2 about ta-c">
  <img src="images/monnier.jpeg" alt="" />
  <p class="name">J. Monnier</p>
  <p class="position">MEASUREMENTS AT HIGH PRECISION</p>
</div>
<div class="c2 about ta-c">
  <img src="images/palacios.JPG" alt="" />
  <p class="name">A. Palacios</p>
  <p class="position">THE SUN IN TIME AND STELLAR EVOLUTION</p>
</div>
<div class="c2 about ta-c">
  <img src="images/strugarek.png" alt="" />
  <p class="name">A. Strugarek</p>
  <p class="position">THE ENVIRONMENTS OF THE SUN AND COOL STARS</p>
</div>
<div class="c2 about ta-c">
  <img src="images/zari.jpg" alt="" />
  <p class="name">E. Zari</p>
  <p class="position">COOL MEMBERS OF CLUSTERS AND ASSOCIATIONS</p>
</div>
</div>

      <!--
      <h2><span>Special sessions</span></h2>
      <a name="liveoutside"></a>
      <h3>Life Outside Academia: Applying Academic Skills to Industry
      Problems</h3>
      <div class="c12 row">
<p><em>Tuesday, 18:30-20:00, Terrace Lounge (if that room turns out to be too
    small, the event will be moved to the auditorium)</em></p>
       <p>Conference attendees are invited to join us for a panel discussion
       about careers for astronomers outside of academia. Astronomers are
       typically familiar with a large range of skills that can be applicable
       to the private sector such as: remote sensing, instrumentation, machine
       learning, analyzing large datasets, spectral analysis and finding
       creative computational solutions to unusual problems. The panel,
       composed of former astronomers who now work at various companies in the
       greater Boston area, will discuss their transition to the industry and
       some of the unique problems they are responsible for solving.  Attendees
       will learn what type of skills to employ in their astronomy research
       that can also give them experience for a career in industry if they
       decide to transition out of academia.  The event will include a question
       and answer session as well as a short meet and greet to allow
       individuals to interact directly with panel members.</p>
       </div>
       //-->
       
</div>
</div>

{% endblock content %}
