{% extends "templates/basic.html" %}
{% set active_page = "Registration" %}

{% block content %}

    <div class="container clearfix mt-100 mb-20">
      {% include "templates/globalmessage.html" ignore missing %}

      <h2><span>Registration</span></h2>
      
    <div class="c12 row">
      <strong>Registration fees and important dates:</strong>
      <ul class="listing">
	<li>Early bird (until April 4): 375€</li>
	<li>Regular (April 5 - May 18): 430€</li>
	<li>Late (May 19 - June 14): 550€</li>
	<li>End of registration: June 14</li>
      </ul>
    </div>
      
    <div class="c12 row">
      <strong>Additional fees:</strong>
      <ul class="listing">
	<li>Conference dinner (Thursday): 60€</li>
	<li>Accompanying guest: 80€ (gives access to the cocktail on
      Monday and the conference dinner on Thursday)</li>
	<li>Rates of the optional excursions on Wednesday (multiple choice) and Saturday (Pic du Midi) will come soon. A separate registration form will be open for this.</li>
      </ul>
    </div>
    
    <div class="c12 row">
      <strong>Registration process:</strong>
      <p>The registration to Cool Stars 21 is a two-step process:
      <ol>
      <li>Click on this  <a
      href="https://www.azur-colloque.fr/DR14/inscription/inscription/145">link</a>
      to start your registration and pay the registration
      fee. <strong>Warning #1 </strong>: this step will not be
      validated until you complete the payment form. Make sure to get
      your credit card or bank details (if you choose the bank
      transfer option) nearby. <strong>Warning #2 </strong>: do not
      cancel the registration process at the payment step, or you will
      not be allowed to start the procedure again with the same email
	address (a different email address would do the trick, though).
	<strong>Warning #3 </strong>: participants affiliated to a
	French laboratory should NOT use their lab's credit card.
	</li>
      <li> Once the first step is completed, you should receive a confirmation email from AzurColloque, and a second email with an invitation to complete your registration. Click on the link in the email and fill the form. You're done! </li>
    </ol>
    If something goes wrong or if you need any help, just send an
      email to the <a href="mailto:cs21@irap.omp.eu">LOC</a>.</p>
    </div>
    
    <div class="c12 row">
      <strong>Registration and grant request:</strong>
      <p>Grants will cover the early bird registration fee and the
      Conference dinner. If you plan to apply for <a href="grants.html">financial support</a>, we ask you to wait until the SOC decision before registering. If your grant request is approved, you will have access to a separate, free of charge registration channel.</p>
    </div>

    <div class="c12 row">
      <strong>Cancellation policy:</strong>
      <p>To cancel your participation, send an email to the <a
      href="mailto:cs21@irap.omp.eu">LOC</a>. 100% refund will be offered if (1) the cancellation is done less than 60 days after the registration and (2) the cancellation is done before June 1st. </p>
    </div>
    
    
      <!--
      <h2><span>Pre-registration</span></h2>
      <div class="c12 row">	
	<p>Pre-registration can still be done by filling this <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-lQMuclciAj-722TXzeZ0s8OC-6_uK_sjKtakZbj3HsHZTg/viewform?usp=sf_link/">form</a>.</p>
      </div>
      //-->
      
      <div class="clearfix mb-20">
      <div class="c12">
	<img src="images/poster_cs21.jpg" alt="" />
      </div>
      </div>

    </div>  
      
{% endblock content %}
