{% extends "templates/basic.html" %}
{% set active_page = "Pre-registration" %}

{% block content %}

    <div class="container clearfix mt-100 mb-20">
       {% include "templates/globalmessage.html" ignore missing %}

            
      <h2><span>Pre-registration</span></h2>
      <div class="c12 row">
	
	<p>Pre-registration can be done by filling this <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-lQMuclciAj-722TXzeZ0s8OC-6_uK_sjKtakZbj3HsHZTg/viewform?usp=sf_link/">form</a>.</p>

    </div>
    <div class="clearfix mb-20">
      <div class="c12">
	<img src="images/poster_cs21.jpg" alt="" />
      </div>
    </div>
    </div>

    <!-- 
     <div class="c12">
	<iframe height="350" width="100%" frameborder="0"
	src="images/poster_cs21.jpg"
	title="CS21 poster"></iframe>
      </div>
    </div>
    -->
	
      </div>  
    </div>

{% endblock content %}
