       <div class="c12 row">
        <p class="intro-text">COOL STARS 21</p>
       </div>
       <div class="c12 row">
        <p class="intro-text">4-9 July 2022, Toulouse, France</p>
       </div>
       <div class="c12 row">
        <p class="welcome-text">The "Cambridge Workshops of Cool Stars, Stellar Systems and the Sun" are held biennially and have evolved to be the premier conference series for cool star research.</p>
       </div>

       <div class="c12 row">
	 <p><strong><big>With the still ongoing COVID-19 pandemics it
	 is now clear that it is best to postpone once more the
	 organization of CS21. The SOC took the difficult decision to
	 postpone the conference until 2022. We now have a new date
	 and will be delighted to welcome you for CoolStars21 in
	 Toulouse in 2022, from the 4th to the 9th of July!  Please
	  <a
	 href="https://docs.google.com/forms/d/e/1FAIpQLSe-lQMuclciAj-722TXzeZ0s8OC-6_uK_sjKtakZbj3HsHZTg/viewform?usp=sf_link/">join
	 the pre-registered mailing list</a> if you wish to have news
	 and updates about the conference.
	 </big></strong></p>

	 <p><strong><big>
	 The CS21 SOC also decided, due to the long gap between
	 CS20 and CS21, to organize a 3-day remote conference, named
	 CoolStars20.5, because so much exciting science has emerged
	 since CS20. The <a
	 href="http://coolstars20.cfa.harvard.edu/cs20half/index.html">CS20.5
	 virtual meeting</a> will be our next meeting point on March
	 2-4 2021, until we meet (in-person) at CS21 in Toulouse in
	 2022. Abstract submission for CS20.5 is now open, please
	 visit the web site!
	 </big></strong></p>
       </div>
       &nbsp

      <!-- 
       <div class="c12 row">
	  <p><strong><big><a href="registration.html">Registration</a>
	  and <a href="abstracts.html">abstract submission</a>
	 are open!</big></strong></p>

	 <p><strong><big><span style="color: #c95c50;"> Warning!</span> Several SOC members of splinters
 	 have received fraudulent phone calls proposing to book
 	 flights and hotels. They pretend to work with the organisers
 	 of CS21, which is not the case. It is likely that
 	 they got your name and institute from this website, and
 	 expect to get your credit card details. We recommend to be
 	 extremely careful, and to not provide any personal details to them!
 	 </big></p></strong>
	 
	 &nbsp
	 <p><strong><big><span style="color: #c95c50;"> CORONAVIRUS INFORMATION:</span></big></strong></p>

	 <p><strong><big>The organizers are monitoring daily the
	 evolution of coronavirus worldwide and how this may affect
	 international travel and large meetings. At the moment, most
	 effective travel bans do not have a known duration and may be
	 lifted before the date of the CS21 conference and as of today
	 (March 11th) we have not been asked by the French government
	 or the organizing Research institutes to cancel/postpone the
	 conference. As a consequence, CS21 is still scheduled to be
	 held as planned on the week of 22nd of June
	 2020.</big></strong></p>

	 <p><strong><big>We, therefore, encourage everyone to submit
	 abstracts and register. Any registration will be 100%
	 refunded if (a) the meeting has to be cancelled or (b) if you
	 decide to cancel your participation less than 60 days after
	 your registration.</big></strong></p>
       </div>
       &nbsp
       -->
       
       <!--
       <div class="c12 row">
	 
        <p>Video recordings and slides for most talks are posted. See links
        for each abstract on the <a href="abstracts.html">abstract
        page.</a></p>

        <p>Please
        submit <a href="contributions.html#Proceedings">proceedings</a>
        until <strong>November 15th (deadline extended)</strong>. Check out our <a href="proceedings.html">detailed instructions</a>.</p>
       </div>

       {% include 'templates/submitbuttons.html' %}
       //-->
