       <div class="c12 row">
        <p class="intro-text">COOL STARS 21</p>
       </div>
       <div class="c12 row">
        <p class="intro-text">5-9 July 2022, Toulouse, France</p>
       </div>
       <div class="c12 row">
        <p class="welcome-text">The "Cambridge Workshops of Cool Stars, Stellar Systems and the Sun" are held biennially and have evolved to be the premier conference series for cool star research.</p>
       </div>

       <div class="c12 row">
	 <p><strong><big>Due to the sanitary situation, the CS21
	 conference is postponed to 5-9 July 2022. Please
	 <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-lQMuclciAj-722TXzeZ0s8OC-6_uK_sjKtakZbj3HsHZTg/viewform?usp=sf_link/">join
	 the pre-registered mailing list</a> to have updates. In the
	 meanwhile, we are happy to announce that we will 
	have a <a href="http://coolstars20.cfa.harvard.edu/cs20half/index.html">CS20.5 virtual meeting</a>
	 from 2 to 4 March, 2021.</big></strong></p>
       </div>
       &nbsp

      <!-- 
       <div class="c12 row">
	  <p><strong><big><a href="registration.html">Registration</a>
	  and <a href="abstracts.html">abstract submission</a>
	 are open!</big></strong></p>

	 <p><strong><big><span style="color: #c95c50;"> Warning!</span> Several SOC members of splinters
 	 have received fraudulent phone calls proposing to book
 	 flights and hotels. They pretend to work with the organisers
 	 of CS21, which is not the case. It is likely that
 	 they got your name and institute from this website, and
 	 expect to get your credit card details. We recommend to be
 	 extremely careful, and to not provide any personal details to them!
 	 </big></p></strong>
	 
	 &nbsp
	 <p><strong><big><span style="color: #c95c50;"> CORONAVIRUS INFORMATION:</span></big></strong></p>

	 <p><strong><big>The organizers are monitoring daily the
	 evolution of coronavirus worldwide and how this may affect
	 international travel and large meetings. At the moment, most
	 effective travel bans do not have a known duration and may be
	 lifted before the date of the CS21 conference and as of today
	 (March 11th) we have not been asked by the French government
	 or the organizing Research institutes to cancel/postpone the
	 conference. As a consequence, CS21 is still scheduled to be
	 held as planned on the week of 22nd of June
	 2020.</big></strong></p>

	 <p><strong><big>We, therefore, encourage everyone to submit
	 abstracts and register. Any registration will be 100%
	 refunded if (a) the meeting has to be cancelled or (b) if you
	 decide to cancel your participation less than 60 days after
	 your registration.</big></strong></p>
       </div>
       &nbsp
       -->
       
       <!--
       <div class="c12 row">
	 
        <p>Video recordings and slides for most talks are posted. See links
        for each abstract on the <a href="abstracts.html">abstract
        page.</a></p>

        <p>Please
        submit <a href="contributions.html#Proceedings">proceedings</a>
        until <strong>November 15th (deadline extended)</strong>. Check out our <a href="proceedings.html">detailed instructions</a>.</p>
       </div>

       {% include 'templates/submitbuttons.html' %}
       //-->
