<p>
<strong>
We are thrilled to announce that pre-registration is now <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-lQMuclciAj-722TXzeZ0s8OC-6_uK_sjKtakZbj3HsHZTg/viewform?usp=sf_link/">open</a>!
</strong>
</p>

<div class="c12 row">
  SOC and LOC plan the following <strong>important dates</strong>:
  <ul class="listing">
    <li>September 2019: call for splinter sessions</li>
    <li>December 2019: list of splinter sessions selected</li>
    <li>January 2020: early bird registration fees and abstract soumission to main conference and splinters</li>
    <li>February 2020: travel grant support</li>
    <li>March 2020: normal registration fee</li>
    <li>April 2020: annoucement of program and selected grantees</li>
    <li>May 2020: late registration fees</li>
  </ul>
</div>
