<p>
<big>
<big>
<strong>
We are thrilled to announce that pre-registration is now <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-lQMuclciAj-722TXzeZ0s8OC-6_uK_sjKtakZbj3HsHZTg/viewform?usp=sf_link/">open</a>!
</strong>
</big>
</big>
</p>

<div class="c12 row">
  SOC and LOC plan the following <strong>important dates</strong>:
  <ul class="listing">
    <li>Early September 2019: call for splinter sessions</li>
    <li>Late November 2019: deadline for submission of splinter sessions</li>
    <li>Mid December 2019: list of splinter sessions selected</li>
    <li>January 2020: early bird registration fee and abstract submission to main conference and splinters</li>
    <li>Early February 2020: deadline for travel grant support request</li>
    <li>Early March 2020: normal registration fee</li>
    <li>Mid April 2020: announcement of program and selected grantees</li>
    <li>Early May 2020: late registration fee</li>
  </ul>
</div>
