<!-- 
<p>
<big>
<big>
<strong>
We are thrilled to announce that pre-registration is now <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-lQMuclciAj-722TXzeZ0s8OC-6_uK_sjKtakZbj3HsHZTg/viewform?usp=sf_link/">open</a>!
</strong>
</big>
</big>
</p>
-->

<!--
<div class="c12 row">
  SOC and LOC plan the following <strong>important dates</strong>:
  <ul class="listing">
    <li>16 March 2020: announcement of selected grantees</li>
    <li>30 March 2020: announcement of selected talks (plenary sessions)</li>
    <li>04 April 2020: end of early-bird registration fees</li>
    <li>18 May 2020: end of regular registration fees</li>
    <li>14 June 2020: poster submission deadline</li>
    <li>14 June 2020: end of registration</li>
  </ul>
</div>
-->

<!-- 
<div class="c12 row">
  SOC and LOC plan the following <strong>important dates</strong>:
  <ul class="listing">
    <li>Early October 2019: call for splinter sessions</li>
    <li>9 December 2019: deadline for submission of splinter sessions</li>
    <li>15 January 2020: announcement of selected splinter sessions</li>
    <li>January 2020: registration opens (early bird fees)</li>
    <li>January 2020: opening of abstract submission to main conference and splinters</li>
    <li>Early February 2020: deadline for travel grant support request</li>
    <li>Early March 2020: abstract submission deadline</li>
    <li>Mid March 2020: normal registration fee</li>
    <li>Mid March 2020: announcement of program and selected grantees</li>
    <li>Early May 2020: late registration fee</li>
  </ul>
</div>
-->